p{
    color: crimson;
    border: 13px green solid;
}

#par2{
    color: indigo;
    font-size: x-large;
    border: 30px lightseagreen solid;
}

.cls{
    background-color: navy;
    color: snow;
    text-align: center;
}