#div1{
    background-color: cadetblue;
    width: 300px;
    height: 300px;
    overflow: auto;
    margin-top: 50px;
    position: relative;
}
#div2{
    background-color: crimson;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 200px;
}
#div3{
    background-color: greenyellow;
    position: relative;
    top: 50px;
    left: 20px;
}
#div4{
    background-color:  blueviolet;
    position: fixed;
    top: 70px;
    left: 30px;
}
#div5{
    background-color: coral;
    position: sticky;
    z-index: 1;
    top: 0px;
    left: 0px;
}
#div6{
    background-color: cadetblue;
    width: 300px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 50px;
}
#div7{
    background-color: crimson;
    width: 400px;
    height: 400px;
}
#div8{
    background-color: cadetblue;
    width: 300px;
    height: 300px;
    margin-top: 50px;
}
#div9{
    background-color: crimson;
    width: 400px;
    height: 400px;
}