#D1{
    width: 500px;
    height: 500px;
    background-color: lawngreen;
    border: 10px solid red;
    border-image-width: 20px;
    border-image-slice: 33%;
    border-image-repeat: round;
    border-image-outset: 50px;
    /* border-image-repeat: stretch; */
    border-image: url() 33% repeat;
    border-image-width: 30px;
}
#D2{
    height: 500px;
    background-color: mediumaquamarine;
    width: calc(100% - 300px);
}
#D3{
    height: 500px;
    background-color: crimson;
    width: calc(100% , 800px);
}
