#p1{
    border: 3px solid black;
    width: 500px;
    height: 200px;
    padding: 10px;
    font-size: 63px;

    /* text-shadow: right bottom blur color; */
    text-shadow: 5px 5px 5px red;
    box-shadow: 9px 9px 6px yellowgreen;
}
#p2{
    border: 3px solid black;
    width: 500px;
    height: 200px;
    padding: 10px;
    font-size: 63px;
    text-shadow: 0px 0px 6px red;
    box-shadow: 9px 9px 6px 20px blueviolet;
}
#p3{
    border: 3px solid black;
    width: 500px;
    height: 200px;
    padding: 10px;
    font-size: 63px;
    text-shadow: -5px 0px 5px red , 0px -5px 5px blue , 5px 0px 5px green , 0px 5px 5px yellow;
    box-shadow: 9px 9px 6px red , 18px 18px 12px blue;
}