#div1{
    background-color: cadetblue;
    width: 13cm;
}
#div2{
    background-color: brown;
    width: 200mm;
}
#div3{
    background-color: yellow;
    width: 30px;
}
#div4{
    background-color: blue;
    width: 60%;
}
#h1{
    color: black;
    background-color: chartreuse;
    width: 50%;
    font-size: 2em;
}
#h2{
    color: white;
    font-size: 16px;
}
#div5{
    background-color: darkgreen;
    width: 33vw;
}
#div6{
    background-color: grey;
    height: 23vh;
}