ul{
    list-style-type: square;
    /* list-style-image: url(); */
    list-style-position: inside;
}
ol{
    list-style-type: upper-alpha;
    list-style-position: inside;
}
li{
    border: orangered 3px solid;
}
table{
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
    caption-side: bottom;
    /* empty-cells: hide; */
}
td{
    border: 3px solid black;
    height: 30px;
    vertical-align: middle;
    background-color: chartreuse;
}