#parent{
    background-color: cadetblue;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    /* justify-content: space-evenly;
    height: 300px;
    align-content: space-evenly; */
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
#parent>div {
    padding: 30px;
    /* width: 20px;
    height: 20px; */
}
#div1{
    background-color: chartreuse;
    grid-row-start: 1;
    grid-row-end: 3;
}
#div2{
    background-color: darkred;
    grid-column-start: 1;
    grid-column-end: 2;
}
#div3{
    background-color: dimgray;
    grid-row: 2 / 3;
}
#div4{
    background-color: gold;
    grid-area: 1 / 1 / 3 / 3;
}
#div5{
    background-color: black;
}